<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="edu.gatech.mbse.mdsysmlmodelica"
        name="edu.gatech.mbse.mdsysmlmodelica"
        version="1.0"
        provider-name="GaTech"
        class="mo2SysML.Modelica2MagicDrawSysMLPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="mdsysmlmodelica.jar"/>
    </runtime>
</plugin>
